<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pstreets.guice.demo"
    android:versionCode="1"
    android:versionName="1.0-20120817" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".GuiceDemo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InjectViewDemo2" />

        <activity android:name=".InjectViewDemo" >
        </activity>
        <activity
            android:name=".InjectContextDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StandardInjectionDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InjectExtraDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InjectExtraReceiver"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".listview.ListViewActivity"/>
    </application>

</manifest>